<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="dataSource" class="org.apache.tomcat.dbcp.dbcp2.BasicDataSource">
        <property name="username" value=""/>
        <property name="password" value=""/>
        <property name="url" value=""/>
        <property name="driverClassName" value=""/>
    </bean>

<!--    <context:component-scan base-package="business.users_management" />
    <context:component-scan base-package="services" />-->
    <context:property-placeholder location="classpath*:connection.properties" />
    <context:annotation-config/>
</beans>